# Caching Images
#<ifModule mod_expires.c>  
#	ExpiresActive On
#	ExpiresDefault "access plus 1 year"
#	Header append Cache-Control "public"
#</ifModule>

<IfModule mod_headers.c>
	Header set Cache-Control "max-age=604800, public"
</IfModule>